.map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  // background-color: lighten($dark-grey, 1%);

  &__bounds {
    position: relative;
    width: 2800px;
    height: 1800px;
  }

  &__inner {
    position: relative;
    width: 2800px;
    height: 1800px;
  }

  &__location, &__buildings {
     position: absolute;
    transform-origin: 50% 300%;


    &:hover span:after {
      transform-origin: left;
      transform: scaleX(1);
    }

    span {
      position: relative;
      text-align: center;
      font-style: italic;
      z-index: 5;
    }
  }

  &__location {
    transition: transform 0.6s $ease-out-expo,
                opacity 0.6s $ease-out-expo;

    &:hover {
    transform: scale(1.1);
    opacity: .9;
    transition: transform 0.6s $ease-out-expo,
                opacity 0.6s $ease-out-expo;
    }

    img {
    width: 50px;
    height: 50px;
    opacity: .9;
    position: absolute;
    display: inline-block;
    }

    span {
      left: 30px;
      top: 77px;
      @include underline;
    }
  }
  &__buildings {
    transition: transform 0.6s $ease-out-expo,
                opacity 0.6s $ease-out-expo;

    &:hover {
    transform: scale(1.05);
    opacity: .9;
    transition: transform 0.6s $ease-out-expo,
                opacity 0.6s $ease-out-expo;
    }

    img {
      opacity: .9;
      position: absolute;
      display: inline-block;

    }
    span {
      left: 137px;
      top: -2px;
      @include underline;
    }
  }

  &__image {
    pointer-events: none;
  }
}
